<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>
    <app-pheader></app-pheader>

  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-4 sidenav">
        <a routerLink='/customerForm' routerLinkActive='active'>Cusotmer Form</a><br>
        <a routerLink='/customerDetails' routerLinkActive='active'>Customer Details</a><br>
        <a routerLink='/customerForm2' routerLinkActive='active'>Cusotmer Form2</a>
    </div>
    <div class="col-sm-8 text-left"> 
     <router-outlet></router-outlet>
     
    </div>
   
  </div>
</div>

<!-- <app-pfooter></app-pfooter>

 </body>
</html> --> 

<!-- <app-service-empcomp></app-service-empcomp> -->

<!-- <app-form-tcomponent></app-form-tcomponent> -->
<!-- <app-customerform2></app-customerform2> -->
<!-- <app-customerform></app-customerform> -->
<!-- 
<app-parent2child></app-parent2child>
<app-child2parent></app-child2parent> -->
<!-- <app-parentview></app-parentview> -->
<!-- <app-siblingparent></app-siblingparent> -->
<!-- <app-siblingchild></app-siblingchild> -->